{% include base_path %}

{% if page.cat_profile or layout.cat_profile or page.sidebar_cat %}
  <div class="sidebar sticky">
  {% if page.cat_profile or layout.cat_profile %}{% include cat-profile.html %}{% endif %}
  {% if page.sidebar_cat %}
    {% for s in page.sidebar_cat %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar_cat.nav %}
      {% include nav_list nav=page.sidebar_cat.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}